---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Wassword | Password and Passphrase Generator"
	description="Wassword is an Android App built with Flutter to generate passwords and passphrases"
	keywords="wassword, password, passphrase, flutter, flutter app, password generator, passphrase generator"
>
	<div class="flex flex-col items-center justify-center h-screen p-20">
		<h1 class="text-slate-50 uppercase text-center text-7xl font-bold pb-6">
			Wassword
		</h1>
		<h2 class="text-slate-300 text-center text-2xl pb-8">
			Android App built with Flutter to generate passwords and passphrases
		</h2>
		<div class="flex flex-rows">
			<a
				href="https://github.com/polilluminato/wassword-flutter"
				type="button"
				class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mx-3"
				>GitHub</a
			>
			<a
				href="https://play.google.com/store/apps/details?id=com.albertobonacina.wassword&pli=1"
				type="button"
				class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out mx-3"
				>Play Store</a
			>
		</div>
	</div>
</Layout>
